<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>我的vue自学代码集</title>
</head>
<body>

	<div id="lesson-doubleBind">
		<h2>Lesson 1 double bind</h2>
		<h4>{{ message }}</h4>
		<input type="text" v-model="message">
		<pre>
			{{ $data | json }}	
		</pre>
		
	</div>

	<div id="lesson-dataHideByVShow">
		<h2>Lesson 2 data hiden v-show</h2>
		<h4 v-show="!message" style="color: red">
			请输入内容
		</h4>
		<textarea v-model="message"></textarea>
		<button>send message</button>
		<pre>
			{{ $data | json }}
		</pre>
	</div>

	<div id="lesson-form">
		<h2>Lesson 3 form</h2>
		<form action="demo.html" @submit="submitForm">
			<button type="submit" @click="updateCount">submit{{count}}</button>
		</form>
	</div>
	<script src="vue.min.js"></script>
	<script>
		new Vue({
			el:'#lesson-doubleBind',
			data: {
				message:'hello world'
			}
			
		});

		new Vue({
			el:'#lesson-dataHideByVShow',
			data: {
				message:'dfa'
			}
		});
		
		new Vue({
			el:'#lesson-form',
			data : {
				count:0
			},
			methods: {
				updateCount : function() {
					this.count ++;
				},
				submitForm : function(e) {
					e.preventDefault();
				}

 			}
		});
		
	</script>

</body>
</html>
